<p>
  This project help the user to see her information on github
</p>
<h1>Enter your User Name</h1>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col m-6">
        <form (ngSubmit)="submitSearch(username.value)">
          <div class="form-group">
            <label for="name">User name</label><br />
            <input
              type="text"
              class="form-control"
              placeholder=" Username "
              #username
            />
          </div>
          <button type="submit" class="btn-btn-primary">search</button>
        </form>
      </div>
      <ul>
        <li>name</li>
        <li>login</li>
        <li>avatar_url</li>
        <li>email</li>
        <li>location</li>
        <li>public_repos</li>
        <li>html_url</li>
      </ul>
    </div>
  </div>
</div>
