<p>
  This project help the user to see her information on github
</p>
<h1>Enter your User Name</h1>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col m-6">
        <form id="name">
          <div class="form-group">
            <label for="name"> User name</label><br />
            <input
              type="text"
              name="userName"
              placeholder="User Name"
              id="name"
            /><br />
          </div>

          <button type="Search" class="btn btn-primary btn-lg">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
