<p>
  This project help the user to see her information on github
</p>
<h1>Enter your User Name</h1>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col m-6">
        <form (ngSubmit)="submitSearch(username.value)">
          <div class="form-group">
            <label for="name"> User name</label><br />
            <input
              type="text"
              class="form-control"
              placeholder="Enter Github username here"
              #username
            />
          </div>
          <button type="submit">search</button>
        </form>
      </div>
    </div>
  </div>
</div>
